* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0 10px 20px;
}

header img {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

main {
    width: 100%;
    min-height: 2000px;
    background-color: lightgrey;
    padding-top: 50px;
}

.container {
    width: 1000px;
    height: 1000px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}